<app-sidebar-layout>

  <mat-toolbar color="primary">
    <span>Creating a party</span>
  </mat-toolbar>

  <mat-card>
    <mat-card-content>
      <div class="root">

        <div fxLayout="row">

          <div fxFlex="100">
            <h2>Let's get this party started!</h2>
            <p>Quickly fill out the form below to create your party. Once you're finished you will be able to invite
              others to join you.</p>
            <p>If you want to open your party up for anyone to join simply select the "Public" access type. You
              can always change this in the future.</p>
          </div>
        </div>

        <div fxLayout="row">

          <div fxFlex="100" fxFlex.gt-sm="40">

            <form [formGroup]="partyForm" (ngSubmit)="submit()">

              <div style="margin-top: 20px;">
                <mat-form-field>
                  <mat-select placeholder="Access type" formControlName="access" class="full-width">
                    <mat-option *ngFor="let accessType of accessTypeOptions" [value]="accessType.value">
                      {{ accessType.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-error *ngIf="partyForm.controls['access'].hasError('required')">
                  This field is required
                </mat-error>

                <div style="padding-bottom: 20px;"
                     *ngIf="partyForm.controls['access'].invalid && partyForm.controls['access'].dirty"></div>
              </div>

              <div>
                <mat-input-container>
                  <input matInput formControlName="name" placeholder="Party name" class="full-width">
                  <mat-error *ngIf="partyForm.controls['name'].hasError('required')">
                    This field is required
                  </mat-error>
                </mat-input-container>
              </div>

              <div>
                <mat-input-container>
                  <input matInput formControlName="description" placeholder="A short description of this party"
                         class="full-width">
                  <mat-error *ngIf="partyForm.controls['description'].hasError('required')">
                    This field is required
                  </mat-error>
                </mat-input-container>
              </div>

              <button color="primary" mat-raised-button [disabled]="!partyForm.valid || creating">
                <mat-spinner *ngIf="creating" class="button-spinner" strokeWidth="4"></mat-spinner>
                Submit
              </button>

            </form>
          </div>

        </div>

      </div>
    </mat-card-content>
  </mat-card>

</app-sidebar-layout>
