<app-sidebar-layout>

  <mat-toolbar class="transparent-bar">
    <div fxFlex.gt-sm="50" fxFlex.lt-md="100" class="search-box">
      <mat-input-container style="width: 100%;">
        <i class="button-icon fa fa-search" matPrefix></i>
        <input name="searchTerm" matInput [formControl]="searchTerm" shouldPlaceholderFloat="false">
      </mat-input-container>
      <button mat-icon-button (click)="searching = false" *ngIf="searching">
        <mat-icon class="button-icon">close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-card class="transparent-card">
    <mat-card-content>

      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <img src="/assets/spotify.png" class="button-icon tab-icon" alt="spotify"> Spotify
          </ng-template>

          <div class="root">

            <div *ngIf="!searching">

              <div
                *ngIf="spotifyGroup != null && spotifyGroup.popularParties != null && spotifyGroup.popularParties.maxRecords == 0">
                <h2>
                  <small>You don't belong to any spotify parties, maybe <a
                    class="search-link" [routerLink]="['/parties']" [queryParams]="{tab: 'spotify'}">search</a> for
                    one instead
                  </small>
                </h2>
              </div>

              <div *ngIf="spotifyGroup != null && spotifyGroup.popularParties != null && spotifyGroup.popularParties.maxRecords > 0">
                <h2>Your parties
                  <small>these are the parties which you belong to</small>
                </h2>

                <div *ngIf="spotifyGroup.popularParties != null && spotifyGroup.popularParties.maxRecords > 0"
                     fxLayout="row" fxLayoutWrap="true">
                  <div fxFlex="50" fxFlex.gt-sm="25" fxFlex.gt-md="20"
                       *ngFor="let party of spotifyGroup.popularParties.items">
                    <app-party-card [party]="party"></app-party-card>
                  </div>
                </div>
              </div>

            </div>

            <div *ngIf="searching">
              <h2>Search results</h2>

              <div *ngIf="spotifyGroup.searchResults != null && spotifyGroup.searchResults.maxRecords > 0"
                   fxLayout="row" fxLayoutWrap="true">
                <div fxFlex="50" fxFlex.gt-sm="25" fxFlex.gt-md="20"
                     *ngFor="let party of spotifyGroup.searchResults.items">
                  <app-party-card [party]="party"></app-party-card>
                </div>
              </div>

            </div>

          </div>

        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <img src="/assets/youtube.png" class="button-icon tab-icon" alt="youtube"> YouTube
          </ng-template>

          <div class="root">

            <div *ngIf="!searching">

              <div
                *ngIf="youtubeGroup != null && youtubeGroup.popularParties != null && youtubeGroup.popularParties.maxRecords == 0">
                <h2>
                  <small>You don't belong to any youtube parties, maybe <a
                    class="search-link" [routerLink]="['/parties']" [queryParams]="{tab: 'youtube'}">search</a> for
                    one instead
                  </small>
                </h2>
              </div>

              <div *ngIf="youtubeGroup != null && youtubeGroup.popularParties != null && youtubeGroup.popularParties.maxRecords > 0">
                <h2>Your parties
                  <small>these are the parties which you belong to</small>
                </h2>

                <div *ngIf="youtubeGroup.popularParties != null && youtubeGroup.popularParties.maxRecords > 0"
                     fxLayout="row" fxLayoutWrap="true">
                  <div fxFlex="50" fxFlex.gt-sm="25" fxFlex.gt-md="20"
                       *ngFor="let party of youtubeGroup.popularParties.items">
                    <app-party-card [party]="party"></app-party-card>
                  </div>
                </div>
              </div>

            </div>

            <div *ngIf="searching">
              <h2>Search results</h2>

              <div *ngIf="youtubeGroup.searchResults != null && youtubeGroup.searchResults.maxRecords > 0"
                   fxLayout="row" fxLayoutWrap="true">
                <div fxFlex="50" fxFlex.gt-sm="25" fxFlex.gt-md="20"
                     *ngFor="let party of youtubeGroup.searchResults.items">
                  <app-party-card [party]="party"></app-party-card>
                </div>
              </div>

            </div>

          </div>

        </mat-tab>
      </mat-tab-group>

    </mat-card-content>
  </mat-card>

</app-sidebar-layout>
