<form [formGroup]="partyForm" (ngSubmit)="submit()" style="padding-bottom: 40px;" fxFlex.gt-sm="40" fxFlex="100">

  <div style="margin-top: 20px;">
    <mat-form-field>
      <mat-select placeholder="Access type" formControlName="access">
        <mat-option *ngFor="let accessType of accessTypeOptions" [value]="accessType.value">
          {{ accessType.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-error *ngIf="partyForm.controls['access'].hasError('required')">
      This field is required
    </mat-error>

    <div style="padding-bottom: 20px;"
         *ngIf="partyForm.controls['access'].invalid && partyForm.controls['access'].dirty"></div>
  </div>

  <div>
    <mat-input-container class="full-width">
      <input matInput formControlName="name" placeholder="Party name">
      <mat-error *ngIf="partyForm.controls['name'].hasError('required')">
        This field is required
      </mat-error>
    </mat-input-container>
  </div>

  <div>
    <mat-input-container class="full-width">
      <input matInput formControlName="description" placeholder="A short description of this party">
      <mat-error *ngIf="partyForm.controls['description'].hasError('required')">
        This field is required
      </mat-error>
    </mat-input-container>
  </div>

  <div>
    <mat-form-field>
      <mat-select placeholder="Which genres does this party fit into?" formControlName="genres" multiple>
        <mat-option *ngFor="let genre of genres" [value]="genre.id">
          {{ genre.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button color="primary" mat-raised-button [disabled]="!partyForm.valid || saving">
    <mat-spinner *ngIf="saving" class="button-spinner" [strokeWidth]="4" [diameter]="24"></mat-spinner>
    Save changes
  </button>
</form>
