<app-sidebar-layout>

  <mat-toolbar color="primary">
    <span class="toolbar-title" fxFlex>Search for a party</span>
    <div class="toolbar-actions" fxLayout="row" fxLayoutAlign="end center" fxFlex>
      <div class="toolbar-search">
        <button mat-icon-button (click)="searching = true" *ngIf="!searching">
          <mat-icon>search</mat-icon>
        </button>
        <mat-input-container *ngIf="searching">
          <i class="button-icon fa fa-search" matPrefix></i>
          <input name="searchTerm" matInput [formControl]="searchTerm" shouldPlaceholderFloat="false">
        </mat-input-container>
        <button mat-icon-button (click)="searching = false" color="accent" *ngIf="searching">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>

  <mat-card>
    <mat-card-content>

      <div class="root">

        <div *ngIf="!searching">

          <h2>Most popular
            <small>these parties are popping right now</small>
          </h2>

          <div *ngIf="popularParties != null && popularParties.maxRecords > 0" fxLayout="row" fxLayoutWrap="true">
            <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="25" *ngFor="let party of popularParties.items">
              <app-party-card [party]="party"></app-party-card>
            </div>
          </div>

          <h2>Newly added
            <small>these parties are just starting out</small>
          </h2>

          <div *ngIf="newParties != null && newParties.maxRecords > 0" fxLayout="row" fxLayoutWrap="true">
            <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="25" *ngFor="let party of newParties.items">
              <app-party-card [party]="party"></app-party-card>
            </div>
          </div>

        </div>

        <div *ngIf="searching">
          <h2>Search results</h2>

          <div *ngIf="searchResults != null && searchResults.maxRecords > 0" fxLayout="row" fxLayoutWrap="true">
            <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="25" *ngFor="let party of searchResults.items">
              <app-party-card [party]="party"></app-party-card>
            </div>
          </div>

        </div>

      </div>

    </mat-card-content>
  </mat-card>

</app-sidebar-layout>
