.column-header {
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

td {
  vertical-align: center;
  height: 60px;
  font-size: 18px;
}

.artist-thumbnail {
  background-image: url('https://airglide.s3.amazonaws.com/playlistThumbnails/hq/1/d19e8f1b-f210-43fa-801f-813a29f5697c.png');
  background-size: cover;
  height: 50px;
  width: 50px;
}

.now-playing-thumbnail {
  width: 250px;
  height: 250px;
  max-width: 250px;
  background-size: cover;
}

.send-chat-btn {
  justify-content: flex-end;
  display: flex;
}

.chat-input {
  width: 100%;
}

.chat-container {
  justify-content: space-between;
  flex-direction: column;
  height: 400px;
  max-height: 400px;
  display: flex;
}

/deep/ .mat-tab-label, /deep/ .mat-tab-link {
  //color: #fff;
  font-weight: bold;
  font-size: 20px;
  opacity: 1.0;
}

/deep/ .mat-tab-label-active {
  opacity: 1.0 !important;
}

/deep/ .mat-tab-body {
  padding-top: 20px;
}

.youtube-player {
  min-height: 200px;
  height: 40vh;
}

.now-playing-box {
  padding: 0;
  margin: 0;
  background-color: rgb(14, 14, 14);
}

.chat-card {

  & {
    height: 62vh;
  }

  .mat-card-header {
    border-bottom: 1px solid rgba(77, 77, 77, 0.7);
  }

}
