<app-sidebar-layout #sidenav>

  <mat-toolbar color="primary" class="navbar">
    <mat-toolbar-row>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
        <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="start center" fxLayoutGap="10px">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <div class="logo" fxShow.lt-md="false" fxLayoutAlign="center center">
            <img src="../../../assets/logo.png">
          </div>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="end center" fxLayoutGap="10px">
          <button mat-icon-button class="nav-btn" (click)="setSearching(true)" #searchOrigin cdk-overlay-origin
                  matTooltip="Search for songs to add" matTooltipPosition="below">
            <mat-icon>search</mat-icon>
          </button>
          <ng-container *ngIf="searching">
            <mat-input-container>
              <input name="searchTerm" matInput [formControl]="searchTerm" shouldPlaceholderFloat="false">
            </mat-input-container>
            <button mat-icon-button (click)="setSearching(false)">
              <mat-icon class="button-icon">close</mat-icon>
            </button>
          </ng-container>

          <mat-menu #deviceMenu="matMenu" yPosition="below" [overlapTrigger]="false">
            <button mat-menu-item *ngFor="let device of spotifyDevices" (click)="changeDevice(device)">
              {{ device.name }}
            </button>
          </mat-menu>

          <button *ngIf="party != null && account != null && party.type == 'SPOTIFY' && account.spotify != null"
                  matTooltip="{{getDeviceName(account.spotify.device)}}"
                  class="device-btn nav-btn"
                  mat-icon-button [matMenuTriggerFor]="deviceMenu">
            <mat-icon>speaker_phone</mat-icon>
          </button>

          <button fxHide.lt-md="true" class="nav-btn" mat-icon-button (click)="join(party.id, true)"
                  matTooltip="Re-connect to party"
                  matTooltipPosition="below" class="nav-btn">
            <mat-icon class="button-icon">refresh</mat-icon>
          </button>

          <button fxHide.lt-md="true" class="nav-btn" mat-icon-button (click)="openSettings()"
                  matTooltip="Party settings" matTooltipPosition="below">
            <mat-icon>settings</mat-icon>
          </button>

          <button fxHide.lt-md="true" class="nav-btn" mat-icon-button (click)="leave(false)" matTooltip="Stop party"
                  matTooltipPosition="below">
            <mat-icon>stop</mat-icon>
          </button>

          <button fxHide.lt-md="true" class="nav-btn" mat-icon-button color="warn" (click)="leave(true)"
                  matTooltip="Quit party" matTooltipPosition="below">
            <mat-icon>exit_to_app</mat-icon>
          </button>

          <mat-menu #mobileMenu="matMenu" yPosition="below" [overlapTrigger]="false">
            <button mat-menu-item (click)="join(party.id, true)">
              <mat-icon>refresh</mat-icon>
              Reconnect to party
            </button>
            <button mat-menu-item (click)="openSettings()">
              <mat-icon>settings</mat-icon>
              Settings
            </button>
            <button mat-menu-item (click)="leave(false)">
              <mat-icon>stop</mat-icon>
              Stop
            </button>
            <button mat-menu-item (click)="leave(true)">
              <mat-icon>exit_to_app</mat-icon>
              Quit party
            </button>
          </mat-menu>

          <button fxHide.gt-sm="true" class="nav-btn" mat-icon-button [matMenuTriggerFor]="mobileMenu">
            <i class="fa fa-ellipsis-h"></i>
          </button>

          <ng-container *ngIf="loggedIn">
            <app-account-menu></app-account-menu>
          </ng-container>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <ng-template cdkPortal #searchTemplate="cdkPortal">
    <div class="search-overlay" *ngIf="searching">

      <div fxFlex="100">
        <div class="search-spinner" *ngIf="searchingSongs" fxLayout="column" fxLayoutAlign="center center">
          <mat-progress-spinner
            class="in-progress"
            color="primary"
            mode="indeterminate">
          </mat-progress-spinner>
        </div>

        <div *ngIf="!searchingSongs">
          <div>
            <div fxLayout="row" *ngIf="party.type == 'SPOTIFY'">
              <mat-list fxFlex="100" fxFlex.gt-md="50">
                <app-song-list-item *ngFor="let item of songs.items" [song]="item"
                                    [party]="party"
                                    class="typical-list-item"></app-song-list-item>
              </mat-list>

            </div>

            <div fxLayout="row" *ngIf="party.type == 'YOUTUBE'" fxLayoutAlign="row" fxLayoutWrap="true">
              <div class="song-card" *ngFor="let item of songs.items" fxFlex="50" fxFlex.xs="50" fxFlex.sm="33"
                   fxFlex.md="25" fxFlex.lg="14" fxFlex.xl="14">
                <app-youtube-card [party]="party" [song]="item"></app-youtube-card>
              </div>
            </div>

            <div fxLayout="row">
              <div *ngIf="!searchingSongs && songs.maxRecords >= songsLimit" fxFlex="100" fxFlex.gt-md="50">
                <mat-paginator [length]="songs.maxRecords"
                               [pageIndex]="songsPageNumber"
                               [pageSize]="songsLimit"
                               style="background: none;"
                               [pageSizeOptions]="pageSizeOptions"
                               (page)="onSongsPageEvent($event)">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <div class="content" fxLayoutAlign="center">

    <div fxFlex="100" fxFlex.lt-sm="90" fxFlex.gt-md="75">

      <div style="padding: 20px;">

        <mat-toolbar *ngIf="showNoSpotify" style="margin-bottom: 10px">
          <span>You need to link your Spotify Premium account to join this party, click
            <a class="link" [routerLink]="['/account']" [queryParams]="{tab: 'spotify'}">here</a> to get started.
          </span>
        </mat-toolbar>

        <div fxLayout="row" fxLayoutWrap="true" *ngIf="party != null">

          <div fxFlex.gt-md="75" fxFlex="100" style="padding: 10px">
            <mat-card class="compact-card">
              <mat-card-header>
                <mat-card-title class="party-title-container">
                  <img *ngIf="partyType == 'YOUTUBE'" src="/assets/youtube.png" class="button-icon party-icon"
                       alt="youtube">
                  <img *ngIf="partyType == 'SPOTIFY'" src="/assets/spotify.png" class="button-icon party-icon"
                       alt="spotify">
                  <span>{{ party.name }}</span>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="no-pad">
                <div class="now-playing-box" *ngIf="party.type == 'YOUTUBE'">
                  <div fxLayout="row" fxLayoutAlign="center">
                    <div *ngIf="queue != null" fxFlex="100">
                      <div fxLayout="row" fxLayoutWrap="true">
                        <div fxFlex="100" fxFlex.gt-sm="60">
                          <div class="youtube-player">
                            <app-youtube-player #youtubeFrame>
                            </app-youtube-player>
                          </div>
                        </div>

                        <div fxFlex="100" fxFlex.gt-sm="40">
                          <mat-list *ngIf="queue.nowPlaying != null">
                            <mat-list-item>
                              <mat-icon mat-list-icon>music_note</mat-icon>
                              <h4 mat-line> {{ queue.nowPlaying.title }}</h4>
                              <p mat-line> {{ queue.nowPlaying.artist }}</p>
                            </mat-list-item>
                            <mat-list-item *ngIf="queue.nowPlaying.member != null">
                              <mat-icon mat-list-icon>person</mat-icon>
                              <h4 mat-line>Requested by {{ queue.nowPlaying.member.displayName }}</h4>
                            </mat-list-item>
                            <mat-list-item>
                              <mat-icon mat-list-icon>av_timer</mat-icon>
                              <div mat-line>
                                <mat-progress-bar
                                  color="primary"
                                  mode="determinate"
                                  [value]="progress">
                                </mat-progress-bar>
                              </div>
                            </mat-list-item>
                            <mat-list-item>
                              <button class="skip-btn" mat-button color="accent"
                                      (click)="vote(queue.nowPlaying, false, true)">
                                <mat-icon class="button-icon">skip_next</mat-icon>
                                Vote to skip
                              </button>
                            </mat-list-item>
                            <mat-list-item class="skip-msg-item">
                              <p mat-line class="skip-msg">{{getRemainingToSkipMessage()}}</p>
                            </mat-list-item>
                          </mat-list>
                        </div>
                      </div>
                      <div *ngIf="queue == null || queue.nowPlaying == null">
                        <div fxLayout="column" fxLayoutAlign="center center">
                          <h3>Nothing is currently playing</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="party.type != 'YOUTUBE'" class="now-playing-box">
                  <div fxLayout="row" fxLayoutAlign="center">
                    <div *ngIf="queue != null" fxFlex="100">
                      <div fxLayout="row" fxLayoutWrap="true">
                        <div class="now-playing-thumbnail"
                             [style.background-image]="getArtistThumbnail(queue.nowPlaying, true)"
                             fxFlex="100"
                             fxFlex.gt-sm="40"
                             *ngIf="party.type != 'YOUTUBE'">
                        </div>
                        <div fxFlex="100" fxFlex.gt-sm="50">
                          <mat-list *ngIf="queue.nowPlaying != null">
                            <mat-list-item>
                              <mat-icon mat-list-icon>music_note</mat-icon>
                              <h4 mat-line> {{ queue.nowPlaying.title }}</h4>
                              <p mat-line> {{ queue.nowPlaying.artist }}</p>
                            </mat-list-item>
                            <mat-list-item *ngIf="queue.nowPlaying.member != null">
                              <mat-icon mat-list-icon>person</mat-icon>
                              <h4 mat-line>Requested by {{ queue.nowPlaying.member.displayName }}</h4>
                            </mat-list-item>
                            <mat-list-item>
                              <mat-icon mat-list-icon>av_timer</mat-icon>
                              <div mat-line>
                                <mat-progress-bar
                                  color="primary"
                                  mode="determinate"
                                  [value]="progress">
                                </mat-progress-bar>
                              </div>
                            </mat-list-item>
                            <mat-list-item>
                              <button class="skip-btn" mat-button color="accent"
                                      (click)="vote(queue.nowPlaying, false, true)">
                                <mat-icon class="button-icon">skip_next</mat-icon>
                                Vote to skip
                              </button>
                            </mat-list-item>
                            <mat-list-item class="skip-msg-item">
                              <p mat-line class="skip-msg">{{getRemainingToSkipMessage()}}</p>
                            </mat-list-item>
                          </mat-list>
                        </div>
                      </div>
                      <div *ngIf="queue == null || queue.nowPlaying == null">
                        <div fxLayout="column" fxLayoutAlign="center center">
                          <h3>Nothing is currently playing</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <div fxFlex="100" fxFlex.gt-md="25" style="padding: 10px" *ngIf="viewChat">
            <app-party-chat [party]="party" [partyMembers]="partyMembers"></app-party-chat>
          </div>
        </div>

        <div fxLayout="row">
          <div [@opacityInOut] fxFlex="100" style="padding: 10px;">
            <app-party-queue [party]="party" [queue]="queue" [history]="history"></app-party-queue>
          </div>
        </div>
      </div>
    </div>
  </div>

</app-sidebar-layout>
