<app-sidebar-layout #sidenav>

  <mat-toolbar color="primary" class="navbar">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
      <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="start center" fxLayoutGap="10px">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="logo" fxLayoutAlign="center center">
          <img src="../../../assets/logo.png">
        </div>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-icon-button (click)="setSearching(true)" #searchOrigin cdk-overlay-origin>
          <mat-icon>search</mat-icon>
        </button>
        <ng-container *ngIf="searching">
          <mat-input-container>
            <input name="searchTerm" matInput [formControl]="searchTerm" shouldPlaceholderFloat="false">
          </mat-input-container>
          <button mat-icon-button (click)="setSearching(false)">
            <mat-icon class="button-icon">close</mat-icon>
          </button>
        </ng-container>

        <mat-menu #deviceMenu="matMenu">
          <button mat-menu-item *ngFor="let device of spotifyDevices" (click)="changeDevice(device)">
            {{ device.name }}
          </button>
        </mat-menu>

        <button *ngIf="party != null && account != null && party.type == 'SPOTIFY' && account.spotify != null"
                matTooltip="{{getDeviceName(account.spotify.device)}}"
                class="device-btn"
                mat-icon-button [matMenuTriggerFor]="deviceMenu">
          <mat-icon>speaker_phone</mat-icon>
        </button>

        <button mat-icon-button (click)="join(party.id, true)">
          <mat-icon class="button-icon">refresh</mat-icon>
        </button>

        <button mat-icon-button (click)="openSettings()">
          <mat-icon>settings</mat-icon>
        </button>

        <button mat-icon-button (click)="leave(false)">
          <mat-icon>stop</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="leave(true)">
          <mat-icon>exit_to_app</mat-icon>
        </button>

        <ng-container *ngIf="loggedIn">
          <button mat-button>
            <mat-icon>person</mat-icon>
            {{ account.displayName }}
          </button>
        </ng-container>
      </div>
    </div>
  </mat-toolbar>

  <ng-template cdkPortal #searchTemplate="cdkPortal">
  <div class="search-overlay" *ngIf="searching">

    <div fxFlex="100">
      <div class="search-spinner" *ngIf="searchingSongs" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner
          class="in-progress"
          color="primary"
          mode="indeterminate">
        </mat-progress-spinner>
      </div>

      <div *ngIf="!searchingSongs">
        <div>
          <div fxLayout="row">


            <mat-list fxFlex="100" fxFlex.gt-md="50">
              <app-song-list-item *ngFor="let item of songs.items" [song]="item"
                                  [party]="party"
                                  class="typical-list-item"></app-song-list-item>
            </mat-list>

          </div>
          <div fxLayout="row">
            <div *ngIf="!searchingSongs && songs.maxRecords >= songsLimit" fxFlex="100" fxFlex.gt-md="50">
              <mat-paginator [length]="songs.maxRecords"
                             [pageIndex]="songsPageNumber"
                             [pageSize]="songsLimit"
                             style="background: none;"
                             [pageSizeOptions]="pageSizeOptions"
                             (page)="onSongsPageEvent($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </ng-template>


  <div class="content" fxLayoutAlign="center">

    <div fxFlex="100" fxFlex.lt-sm="90" fxFlex.gt-md="75">

      <div style="padding: 20px;">

        <mat-toolbar *ngIf="showNoSpotify" style="margin-bottom: 10px">
          <span>You need to link your Spotify Premium account to join this party, click
            <a class="link" [routerLink]="['/account']" [queryParams]="{tab: 'spotify'}">here</a> to get started.
          </span>
        </mat-toolbar>

        <div fxLayout="row" fxLayoutWrap="true" *ngIf="party != null">

          <div fxFlex.gt-md="75" fxFlex="100" style="padding: 10px">
            <mat-card class="compact-card" style="height: 100%">
              <mat-card-header>
                <mat-icon mat-card-avatar>group</mat-icon>
                <mat-card-title>{{ party.name }}</mat-card-title>
              </mat-card-header>
              <mat-card-content class="no-pad">
                <div class="now-playing-box" *ngIf="party.type == 'YOUTUBE'">
                  <div fxLayout="row" fxLayoutAlign="center">
                    <div *ngIf="queue != null" fxFlex="100">
                      <div fxLayout="row" fxLayoutWrap="true">
                        <div fxFlex="100" fxFlex.gt-sm="60">
                          <div class="youtube-player">
                            <app-youtube-player #youtubeFrame>
                            </app-youtube-player>
                          </div>
                        </div>

                        <div fxFlex="100" fxFlex.gt-sm="40">
                          <mat-list *ngIf="queue.nowPlaying != null">
                            <mat-list-item>
                              <mat-icon mat-list-icon>music_note</mat-icon>
                              <h4 mat-line> {{ queue.nowPlaying.title }}</h4>
                              <p mat-line> {{ queue.nowPlaying.artist }}</p>
                            </mat-list-item>
                            <mat-list-item *ngIf="queue.nowPlaying.member != null">
                              <mat-icon mat-list-icon>person</mat-icon>
                              <h4 mat-line>Requested by {{ queue.nowPlaying.member.displayName }}</h4>
                            </mat-list-item>
                            <mat-list-item>
                              <mat-icon mat-list-icon>av_timer</mat-icon>
                              <div mat-line>
                                <mat-progress-bar
                                  color="primary"
                                  mode="determinate"
                                  [value]="progress">
                                </mat-progress-bar>
                              </div>
                            </mat-list-item>
                            <mat-list-item>
                              <button class="skip-btn" mat-button color="accent"
                                      (click)="vote(queue.nowPlaying, false, true)">
                                <mat-icon class="button-icon">skip_next</mat-icon>
                                Vote to skip
                              </button>
                            </mat-list-item>
                            <mat-list-item class="skip-msg-item">
                              <p mat-line class="skip-msg">{{getRemainingToSkipMessage()}}</p>
                            </mat-list-item>
                          </mat-list>
                        </div>
                      </div>
                      <div *ngIf="queue == null || queue.nowPlaying == null">
                        <div fxLayout="column" fxLayoutAlign="center center">
                          <h3>Nothing is currently playing</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="party.type != 'YOUTUBE'" class="now-playing-box">
                  <div fxLayout="row" fxLayoutAlign="center">
                    <div *ngIf="queue != null" fxFlex="100">
                      <div fxLayout="row" fxLayoutWrap="true">
                        <div class="now-playing-thumbnail"
                             [style.background-image]="getArtistThumbnail(queue.nowPlaying, true)"
                             fxFlex="100"
                             fxFlex.gt-sm="40"
                             *ngIf="party.type != 'YOUTUBE'">
                        </div>
                        <div fxFlex="100" fxFlex.gt-sm="50">
                          <mat-list *ngIf="queue.nowPlaying != null">
                            <mat-list-item>
                              <mat-icon mat-list-icon>music_note</mat-icon>
                              <h4 mat-line> {{ queue.nowPlaying.title }}</h4>
                              <p mat-line> {{ queue.nowPlaying.artist }}</p>
                            </mat-list-item>
                            <mat-list-item *ngIf="queue.nowPlaying.member != null">
                              <mat-icon mat-list-icon>person</mat-icon>
                              <h4 mat-line>Requested by {{ queue.nowPlaying.member.displayName }}</h4>
                            </mat-list-item>
                            <mat-list-item>
                              <mat-icon mat-list-icon>av_timer</mat-icon>
                              <div mat-line>
                                <mat-progress-bar
                                  color="primary"
                                  mode="determinate"
                                  [value]="progress">
                                </mat-progress-bar>
                              </div>
                            </mat-list-item>
                            <mat-list-item>
                              <button class="skip-btn" mat-button color="accent"
                                      (click)="vote(queue.nowPlaying, false, true)">
                                <mat-icon class="button-icon">skip_next</mat-icon>
                                Vote to skip
                              </button>
                            </mat-list-item>
                            <mat-list-item class="skip-msg-item">
                              <p mat-line class="skip-msg">{{getRemainingToSkipMessage()}}</p>
                            </mat-list-item>
                          </mat-list>
                        </div>
                      </div>
                      <div *ngIf="queue == null || queue.nowPlaying == null">
                        <div fxLayout="column" fxLayoutAlign="center center">
                          <h3>Nothing is currently playing</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <div fxFlex="100" fxFlex.gt-md="25" style="padding: 10px">
            <app-party-chat [party]="party" [partyMembers]="partyMembers"></app-party-chat>
          </div>
        </div>

        <div fxLayout="row">
          <div [@opacityInOut] fxFlex="100" style="padding: 10px;">
            <app-party-queue [party]="party" [queue]="queue" [history]="history"></app-party-queue>
          </div>
        </div>
      </div>
    </div>
  </div>

</app-sidebar-layout>
