
.center {
  display: table;
  margin: 0 auto;
}

.tab-content {
  margin-top: 20px;
}

.sso-option {
  opacity: 0.7;
  width: 120px;
  transition: opacity 0.3s ease-in;
  text-align: center;
  cursor: pointer;
}

.sso-option:hover {
  opacity: 1;
}

.sso-option-caption {
  text-align: center;
  margin: 0;
  color: black;
  font-weight: bold;
}

.button {
  transition: all 0.3s ease-in;
}

.button-icon {
  padding: 0 0 4px 0;
}

.sso-container {
  padding: 0 24px 24px 24px;
}

.sign-up {
  background: url('../../../assets/masthead.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.sign-up-card {
  padding: 0;
  background: rgba(255, 255, 255, 0.84);
}

.sign-up-card-content {
  padding: 24px 24px 0 24px;
}

.actions-container {
  background: #cccbcb;
  margin: 0;
  padding: 24px !important;
}
