<app-sidebar-layout #sidenav>
  <mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
      <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="start center" fxLayoutGap="10px">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="logo" fxLayoutAlign="center center">
          <img src="../../../assets/logo.png">
        </div>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="end center" fxLayoutGap="10px">
        <ng-container *ngIf="loggedIn">

          <button mat-button>
            <mat-icon>person</mat-icon>
            {{ account.displayName }}
          </button>
        </ng-container>
      </div>
    </div>
  </mat-toolbar>

  <div fxLayoutAlign="center center" fxLayout="column" class="full-height content">

    <mat-card style="width: 400px; max-width: 400px;">
      <mat-card-content>
        <div class="center" style="margin-bottom: 20px;">
          <h3>SIGN UP WITH E-MAIL</h3>
        </div>

        <form [formGroup]="signupForm" (submit)="emailSignup()">

          <div>
            <mat-input-container class="full-width">
              <input matInput formControlName="displayName" placeholder="Display name" class="full-width">
              <mat-error *ngIf="signupForm.controls['displayName'].hasError('required')">
                This field is required
              </mat-error>
            </mat-input-container>
          </div>

          <div>
            <mat-input-container class="full-width">
              <input matInput formControlName="email" placeholder="E-mail address" class="full-width">
              <mat-error *ngIf="signupForm.controls['email'].hasError('required')">
                This field is required
              </mat-error>
            </mat-input-container>
          </div>

          <div>
            <mat-input-container class="full-width">
              <input matInput formControlName="password" placeholder="Password" class="full-width"
                     type="password">
              <mat-error *ngIf="signupForm.controls['password'].hasError('required')">
                This field is required
              </mat-error>
              <mat-error *ngIf="signupForm.controls['password'].hasError('minlength')">
                Your password has to be at least 8 characters long.
              </mat-error>
            </mat-input-container>
          </div>


          <button color="primary" class="center button" mat-raised-button [disabled]="!signupForm.valid">
            <mat-spinner *ngIf="signingUp" class="button-spinner" strokeWidth="4"></mat-spinner>
            <span *ngIf="!signingUp">Sign up</span>
            <span *ngIf="signingUp">Signing up...</span>
          </button>

        </form>

        <div class="sso-container">
          <div class="center" style="margin-bottom: 20px;">
            <h3>OR</h3>
          </div>
          <div class="sso-buttons">
            <button class="sso-option" color="primary" mat-icon-button (click)="spotifyLogin()">
              <img src="/assets/spotify.png" height="20px" class="button-icon"/> Log in with Spotify
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <div class="other-actions">
      <button mat-button [routerLink]="['/login']">Log in with an existing account</button>
    </div>
  </div>
</app-sidebar-layout>
