<app-sidebar-layout #sidenav>
  <mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
      <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="start center" fxLayoutGap="10px">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="logo" fxLayoutAlign="center center">
          <img src="../../../assets/logo.png">
        </div>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="end center" fxLayoutGap="10px">
        <app-account-menu></app-account-menu>
      </div>
    </div>
  </mat-toolbar>

  <div class="content" fxLayoutAlign="center" *ngIf="account != null">

    <div fxFlex.gt-md="75" fxFlex.gt-sm="90" fxFlex="100" style="padding: 10px">

      <div fxLayout="row">
        <div class="account-header" fxLayoutAlign="start center" fxFlex="80">
          <div class="display-picture" fxLayoutAlign="center center"
               [style.background-image]="getBackgroundImage(account.displayPicture)">
          </div>
          <div class="header-text">
            <h2 class="display-name">{{ account.displayName }}</h2>
            <p class="bio">{{ account.bio != null ? account.bio : account.displayName + " hasn't shared their
              information yet :(" }}</p>
          </div>
        </div>

        <div class="account-actions" fxFlex="20" fxLayoutAlign="end center">
          <button mat-raised-button color="primary">
            <mat-icon>person_add</mat-icon>
            Follow
          </button>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex="100">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                Parties
              </ng-template>
              <div class="search-spinner" *ngIf="loadingParties" fxLayout="column" fxLayoutAlign="center center">
                <mat-progress-spinner
                  class="in-progress"
                  color="primary"
                  mode="indeterminate">
                </mat-progress-spinner>
              </div>

              <div *ngIf="!loadingParties && parties != null && parties.maxRecords > 0"
                   fxLayout="row" fxLayoutWrap="true">
                <div fxFlex="50" fxFlex.gt-sm="25" fxFlex.gt-md="20"
                     *ngFor="let party of parties.items">
                  <app-party-card [party]="party"></app-party-card>
                </div>

                <div *ngIf="parties.maxRecords >= partiesLimit" fxFlex="100" fxFlex.gt-md="50">
                  <mat-paginator [length]="parties.maxRecords"
                                 [pageIndex]="partiesPageNumber"
                                 [pageSize]="partiesLimit"
                                 style="background: none;"
                                 [pageSizeOptions]="pageSizeOptions"
                                 (page)="onPartiesPageEvent($event)">
                  </mat-paginator>
                </div>
              </div>
              <div *ngIf="parties != null && parties.maxRecords == 0">
                <h4>{{account.displayName}} hasn't created any parties</h4>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                Achievements
              </ng-template>

              <div class="achievement" *ngFor="let achievement of account.achievements">
                <div fxLayoutAlign="center">
                  <div class="medal mat-elevation-z9"
                       [style.background-image]="getBackgroundImage(achievement.badgeUrl)"
                       matTooltip="{{achievement.description}}" matTooltipPosition="after"></div>
                </div>
                <div fxLayoutAlign="center">
                  <span class="name">{{ achievement.name }}</span>
                </div>
              </div>
            </mat-tab>

          </mat-tab-group>
        </div>
      </div>

    </div>
  </div>
</app-sidebar-layout>
