<div class="navbar-container">
  <mat-toolbar color="primary">
    <div style="width: 100%" fxLayout fxLayoutAlign="start center" fxLayoutGap="10px">
      <div fxFlex.gt-sm="15" fxFlex="33"></div>
      <div fxFlex.gt-sm="70" fxFlex="33">
        <mat-input-container style="width: 100%;">
          <i class="button-icon fa fa-search" matPrefix></i>
          <input name="searchTerm" matInput [formControl]="searchTerm" shouldPlaceholderFloat="false">
        </mat-input-container>
        <button mat-icon-button (click)="searching = false" color="accent" *ngIf="searching">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div fxFlex.gt-sm="15" fxFlex="33">
        <div fxLayoutAlign="end center" fxLayoutGap="20px">
          <ng-container *ngIf="account != null">
            <button mat-raised-button (click)="logout()" color="primary">Log out</button>
          </ng-container>
          <ng-container *ngIf="account == null">
            <button mat-raised-button (click)="login()" color="primary">Log in</button>
          </ng-container>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <div class="search-overlay" *ngIf="searching" fxLayoutAlign="center start">
    <div fxLayout="row" fxFlex="100">
      <div fxFlex="100" fxLayout="column">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <div><i class="button-icon fa fa-music"></i>
                Songs ({{ songs.maxRecords}})
              </div>
            </ng-template>

            <div fxFlex="60">
              <mat-progress-spinner
                *ngIf="searchingSongs"
                class="in-progress"
                color="primary"
                mode="indeterminate">
              </mat-progress-spinner>

              <mat-card *ngIf="!searchingSongs">
                <mat-card-content>

                  <div *ngIf="!searchingSongs && songs.maxRecords >= songsLimit" style="margin-bottom: 10px">
                    <mat-paginator [length]="songs.maxRecords"
                                   [pageIndex]="songsPageNumber"
                                   style="background: none;"
                                   [pageSize]="songsLimit"
                                   [pageSizeOptions]="pageSizeOptions"
                                   (page)="onSongsPageEvent($event)">
                    </mat-paginator>
                  </div>

                  <mat-list>
                    <app-song-list-item *ngFor="let item of songs.items" [song]="item"
                                        class="typical-list-item"></app-song-list-item>
                  </mat-list>

                </mat-card-content>
                <mat-card-footer>
                  <div *ngIf="!searchingSongs && songs.maxRecords >= songsLimit">
                    <mat-paginator [length]="songs.maxRecords"
                                   [pageIndex]="songsPageNumber"
                                   [pageSize]="songsLimit"
                                   style="background: none;"
                                   [pageSizeOptions]="pageSizeOptions"
                                   (page)="onSongsPageEvent($event)">
                    </mat-paginator>
                  </div>
                </mat-card-footer>
              </mat-card>
            </div>

          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
