.party-card {

  & {
    width: 90%;
    max-width: 90%;
    margin-right: 10%;
    margin-bottom: 10%;
    padding: 0;
    cursor: pointer;

    opacity: 0.7;
    transition: 0.7s;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);

    opacity: 1.0;
    transition: 0.7s;
  }
  //
  //.party-header {
  //  background-color: rgb(17, 17, 17);
  //  padding: 0.5em;
  //  font-size: 16px;
  //}

  .party-details {
    padding: 0.5em;
    max-height: 40px;
    height: 40px;
    overflow: hidden;
  }

  .now-playing {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
  }

  .party-thumbnail {
    min-height: 200px;
    max-height: 250px;
    width: 100%;
    background-size: cover;
  }

  p {
    margin-left: 10px;
    margin-right: 10px;
  }

}

.title {
  font-weight: 500;
}

.now-playing-title {
  font-weight: 300;
}

.artist {
  font-weight: 100;
}
