<mat-card class="compact-card party-card" [@fadeTrigger] (click)="join()">
  <mat-card-header>
    <mat-card-title>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="inline">
          <img src="/assets/youtube.png" class="button-icon" height="20" *ngIf="party.type == 'YOUTUBE'"/>
          <img src="/assets/spotify.png" class="button-icon" height="20" *ngIf="party.type == 'SPOTIFY'"/>
        </div>
        <div class="inline">
          <span class="truncated title">{{party.name}}</span>
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="no-pad">
    <div class="party-thumbnail" [style.background-image]="getBackground(party)"></div>
    <div class="view-count">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="button-icon">remove_red_eye</mat-icon>
        {{ party.activeMemberCount}} listener(s)
      </div>
    </div>
    <div class="party-details">
      <div class="now-playing truncated" *ngIf="party.nowPlaying != null">
        <span class="now-playing-title">{{ party.nowPlaying.title}}</span>
      </div>

      <div class="now-playing truncated" *ngIf="party.nowPlaying != null">
        <span class="artist">{{ party.nowPlaying.artist }}</span>
      </div>

      <div class="now-playing truncated" *ngIf="party.nowPlaying ==null">
        Nothing is playing, yet!
      </div>
    </div>
  </mat-card-content>
</mat-card>
