.party-card {

  & {
    background-color: rgba(17, 17, 17, 0.7);
    width: 90%;
    margin-right: 10%;
    margin-bottom: 10%;
    padding: 0;
    cursor: pointer;

    opacity: 0.7;
    transition: 0.7s;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);


    opacity: 1.0;
    transition: 0.7s;
  }

  .party-header {
    background-color: rgb(17, 17, 17);
    min-height: 60px;
    font-size: 16px;
  }

  .party-details {
    background-color: rgba(17, 17, 17, 0.7);
    padding: 20px;
    max-height: 40px;
    height: 40px;
  }

  .now-playing {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  img {
    max-height: 200px;
    width: 100%;
  }

  p {
    margin-left: 10px;
    margin-right: 10px;
  }

}
