.navbar-container {
  width: 100%;
  z-index: 9999;
}

.navbar {
  background: linear-gradient(45deg, rgba(14, 14, 14, 0.7), rgba(7, 7, 7, 0.7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title-box {
  display: inline;
  margin-right: 30px;
}

.search-box {
  display: inline;
}

.search-spinner {
  margin-top: 30vh;
}

.search-overlay {
  height: 100vh;

  & {
    position: absolute;
    float: left;
    top: 64px;
    left: 0;
    right: 0;

    min-height: 400px;

    background-color: rgb(24, 24, 24);

    opacity: 0.8;

    overflow: scroll;
    z-index: 9999;
  }

  .mat-line {
    font-size: 18px;
  }

  //.mat-card {
  //  background-color: transparent;
  //}

  /deep/ .mat-tab-label, /deep/ .mat-tab-link {
    //color: #fff;
    font-weight: bold;
    font-size: 20px;
    opacity: 1.0;
  }
}
