<div class="navbar-container">
  <mat-toolbar class="navbar" fxLayoutWrap="true">
    <div fxFlex="90" fxFlex.gt-md="90">
      <div class="title-box" *ngIf="title != null && title.length > 0">{{ title}}</div>
      <div class="search-box" *ngIf="showSearch">
        <mat-input-container [style.width]="getInputWidth()">
          <i class="button-icon fa fa-search" matPrefix></i>
          <input name="searchTerm" matInput [formControl]="searchTerm" shouldPlaceholderFloat="false">
        </mat-input-container>
        <button mat-icon-button (click)="searching = false" *ngIf="searching">
          <mat-icon class="button-icon">close</mat-icon>
        </button>
      </div>
    </div>

    <ng-content></ng-content>
  </mat-toolbar>

  <div class="search-overlay" *ngIf="searching">

    <div fxFlex="100">
      <div class="search-spinner" *ngIf="searchingSongs" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner
          class="in-progress"
          color="primary"
          mode="indeterminate">
        </mat-progress-spinner>
      </div>

      <div *ngIf="!searchingSongs">
        <div>
          <div fxLayout="row">


            <mat-list fxFlex="100" fxFlex.gt-md="50">
              <app-song-list-item *ngFor="let item of songs.items" [song]="item"
                                  [party]="party"
                                  class="typical-list-item"></app-song-list-item>
            </mat-list>

          </div>
          <div fxLayout="row">
            <div *ngIf="!searchingSongs && songs.maxRecords >= songsLimit" fxFlex="100" fxFlex.gt-md="50">
              <mat-paginator [length]="songs.maxRecords"
                             [pageIndex]="songsPageNumber"
                             [pageSize]="songsLimit"
                             style="background: none;"
                             [pageSizeOptions]="pageSizeOptions"
                             (page)="onSongsPageEvent($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
