.artist-thumbnail {
  background-image: url('https://airglide.s3.amazonaws.com/playlistThumbnails/hq/1/d19e8f1b-f210-43fa-801f-813a29f5697c.png');
  background-size: cover;
}

/deep/.mat-line {
  font-size: 16px !important;
}

@media (max-width: 960px) {

  /deep/.mat-list-item-content {
    padding: 8px 0 !important;
  }

}


.song-list-item {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s ease-in;
}

.song-list-item:hover {
  opacity: 1;
}
