.landing-background {
  min-height: 100vh;
}

.masthead {

  & {
    background-image: url('../../../assets/masthead.jpg');
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
  }

  .masthead-overlay {
    padding: 120px;
    min-height: 100%;
    color: #313638;
  }
}

.hero {
  min-height: 400px;
}

.hero:nth-child(even) {
  background-color: rgba(252, 252, 252, 0.7);
}

.hero:nth-child(odd) {
  background-color: rgba(17, 17, 17, 0.7);
  color: #fff;
}

.full-height {
  height: 100%;
  min-height: 100%;
}

.party-tile {

  & {
    background-size: cover;
    width: 80%;
    height: 80%;
    margin: 10%;
    padding: 0;
  }

}

.login-btn {
  border: white 1px solid;
  color: white;
  margin: 10px;
}

.sign-up-btn {
  display: table;
  margin: 0 auto;
  color: white;
  border: white 1px solid;
  margin-top: 30vh;
  font-size: 1.5rem;
  padding: 8px;
}


@media (max-width: 740px) {
  .sign-up-btn {
    margin-top: 10vh;
  }
}

.got-account-text {
  font-size: 1.2rem;
}

.dance-bg {
  background-color: #433238;
  background-image: url('/assets/bg4.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 68vh;
}

.title-text {
  color: white;
  text-align: center;
  margin: 0;
}

.header-text {
  padding: 80px 0 0 0;
  text-shadow: 2px 2px #060304;
  font-size: 3rem;
}

.sub-header-text {
  font-size: 1.1rem;
}

.second-container {
  background: -moz-linear-gradient(top, #423238 0%, #413347 50%, #394c58 100%);
  background: -webkit-linear-gradient(top, #423238 0%,#413347 50%,#394c58 100%);
  background: linear-gradient(to bottom, #423238 0%,#413347 50%,#394c58 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#423238', endColorstr='#394c58',GradientType=0 );
}

.description-container {
  text-align: center;
  padding: 40px 10px 40px 10px;
  color: white;
}

@keyframes sync-rotate {
  from {
  transform: translateZ(0px) rotateZ(0);
  }
  to {
    transform: translateZ(0px) rotateZ(360deg);
  }
}

@keyframes yt-spotify-colors {
  from {
    color: #1DB954;
  }
  to {
    color: #ff0000;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sync-icon {
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  animation: sync-rotate 1.4s cubic-bezier(.85,-0.48,.26,.67) infinite alternate;
}

.music-icon {
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  animation: yt-spotify-colors 2s ease-in-out infinite alternate;
}

.money-icon {
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  color: #1DB954;
}

.money-icon:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 0.2rem solid #ff0000;
  transform:rotate(45deg);
  animation: opacity 3s linear infinite;
}

.third-container {
  color: white;
  background: #394c58;
}

.social-media-container {
  text-align: center;
  padding: 40px 10px 40px 10px;
  color: white;
}

.social-media-img {
  opacity: 0.6;
  transition: opacity 0.3s ease-in;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.social-media-text {
  padding: 80px 0 0 0;
  text-shadow: 2px 2px #060304;
  font-size: 2rem;
}

.center {
  display: table;
  margin: 0 auto;
}

.social-link {
  color: white;
  text-decoration: none;
}

.social-media-img-container {
  min-height: 15vh;
}

.social-media-caption {
  margin: 0;
}

.footer-container {
  background: rgb(33, 33, 33);
  min-height: 8vh;
  color: white;
}

.footer-links-container {
  padding: 40px 10px 40px 10px;
}

.fading-separator {
  border:none;
  color:white;
  height:1px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#413347), to(#394c58));
  width: 60%;
  display: table;
  margin: 2rem auto;
}

.copyright-text {
  padding: 0 3rem 0 0;
}

@media (max-width: 740px) {
  .copyright-text {
    padding: 0 0 2rem 0;
  }
}
