<app-sidebar-layout #sidenav>
  <mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
      <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="start center" fxLayoutGap="10px">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="logo" fxLayoutAlign="center center">
          <img src="../../../assets/logo.png">
        </div>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="end center" fxLayoutGap="10px">
        <ng-container *ngIf="loggedIn">

          <button mat-button>
            <mat-icon>person</mat-icon>
            {{ account.displayName }}
          </button>
        </ng-container>
      </div>
    </div>
  </mat-toolbar>

  <div class="root">
    <h1>Hello world</h1>
  </div>
</app-sidebar-layout>
