<mat-sidenav-container class="sidenav-container" [style.background-image]="getBackground(backgroundUrl)">
  <mat-sidenav #sidenav [mode]="mode" [opened]="opened">
    <div class="logo-container" fxLayout="row" fxLayoutAlign="center center">
      <div class="logo">
      </div>
    </div>
    <ul class="mat-sidenav-links">
      <li class="header">ACTIVITIES</li>
      <li>
        <button mat-button [routerLink]="['/parties']">
          <mat-icon class="button-icon">search</mat-icon>
          Search for a party
        </button>
      </li>
      <li>
        <button mat-button [routerLink]="['/party/create']" routerLinkActive="active">
          <mat-icon class="button-icon">add_circle</mat-icon>
          Create party
        </button>
      </li>
      <li *ngIf="account == null">
        <button color="primary" mat-button [routerLink]="['/login']" routerLinkActive="active">
          <mat-icon class="button-icon">exit_to_app</mat-icon>
          Sign up/Login
        </button>
      </li>

      <li *ngIf="account != null" class="header">YOUR PARTIES</li>
      <li *ngFor="let party of sortedParties()">
        <button mat-button [routerLink]="['/party', party.id]" routerLinkActive="active">
          <img [src]="getPartyIcon(party)" class="button-icon sidebar-party-icon" alt="party">
          {{ party.name }}
          <span *ngIf="parties.activeSpotifyParty != null && parties.activeSpotifyParty.id == party.id" class="active-chip">ACTIVE</span>
        </button>
      </li>
      <li *ngIf="parties != null && parties.parties != null && parties.parties.length > 4">
        <button color="primary" mat-button [routerLink]="['/my-parties']" routerLinkActive="active">
          <mat-icon class="button-icon">people</mat-icon>
          View more...
        </button>
      </li>

      <li *ngIf="account != null" class="header">YOUR ACCOUNT</li>
      <li *ngIf="account != null">
        <button mat-button [routerLink]="['/account']" routerLinkActive="active">
          <mat-icon class="button-icon">account_circle</mat-icon>
          Manage
        </button>
      </li>
      <li *ngIf="account != null">
        <button mat-button (click)="logout()">
          <mat-icon class="button-icon">exit_to_app</mat-icon>
          Log out
        </button>
      </li>
    </ul>
  </mat-sidenav>

  <div class="outlet">
    <ng-content></ng-content>
  </div>
</mat-sidenav-container>

<button mat-fab (click)="opened = !opened" class="sidenav-toggle">
  <mat-icon>menu</mat-icon>
</button>
