/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import '~font-awesome/css/font-awesome.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~@angular/material/theming';

body {
  margin: 0;
  padding: 0;
  //font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif !important;

}

.logo {

  & {
    min-height: 32px;
    height: 32px;
    max-height: 32px;
  }

  img {
    height: 100%;
  }
}

.title-span {
  margin-left: 30px;
}

.button-icon {
  margin-right: 10px;
}

.scroll-locked {
  overflow: hidden !important;
  position:fixed !important;
}

.navbar {
  position: fixed;
  z-index: 9999;
  top: 0;
}

.content {
  padding-top: 70px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

mat-form-field .mat-form-field {
  &-underline {
    position: relative;
    bottom: auto;
  }
  &-subscript-wrapper {
    position: static;
  }
}

a {
  text-decoration: none;
  opacity: 0.7;
  color: #2395f3;
  transition: opacity 0.3s ease-in;

  &:hover {
    opacity: 1;
  }
}

.truncated {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: inherit;
}

.bold {
  font-weight: bold;
}
