@import '~@angular/material/theming';
@import 'app/widgets/SearchBar';

@include mat-core();

// Define the default theme (same as the example above).
$primary: mat-palette($mat-blue);
$accent: mat-palette($mat-light-blue);
$theme: mat-light-theme($primary, $accent);
$dark-theme: mat-dark-theme($primary, $accent);

// Include the default theme styles.
@include angular-material-theme($theme);

.dark-theme {
  @include angular-material-theme($dark-theme);
}
